*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    /* border: 1px solid red; */
}

:root {
    --color-header-bg: #faf9f6;
    --color-sidebar-bg: #007BFF;
    --color-sidebar-font: #fdfdfd;
    --color-main-bg: #dddddd;
    --color-accent: #ffbb00;
    --color-main-second-font: #808080;
}

html{
    font-size: 62.5%;
}

body {
    line-height: 1.5;
    min-height: 100vh;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* img {
    max-width: 100%;
    height: auto;
    display: block;
} */

button {
    all: unset;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: min-content 1fr;

    min-height: 100vh;

    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
}

.header-container {
    grid-row: 1 / 1;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* shadow on header show on top of main div */
    position: relative;
    z-index: 1;

    padding: 0px 50px;
    box-shadow: 0px 0px 5px #808080;

    background-color: var(--color-header-bg);
}

.menu-one {
    display: flex;
    align-items: center;
    gap: 20px;

    padding-top: 5px;
    padding-bottom: 10px;


    & form {
        display: flex;
        gap: 20px;
        flex-grow: 1;

        & #search {
            width: 80%;
            max-width: 70ch;

            padding: 1px;
            border-radius: 100px;
            border-style: none;

            background-color: var(--color-main-bg);
        }
    }

    & img {
        height: 20px;
        width: 20px;

        vertical-align: middle;
    }

    > img {
        height: 30px;
        width: auto;
    }
} 

.menu-two {
    display:flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 10px;

    & img {
        height: 60px;
        width: auto;
    }
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.greeting > p:first-child {
    font-size: 1.4rem;
    font-weight: 500;
}

.greeting > p:last-child {
    font-size: 2rem;
    font-weight: 500;
}

.action-buttons-container {
    display: flex;
    gap: 20px;
}

.action-buttons-container > * {
    padding: 2px 20px;
    border: none;
    border-radius: 25px;

    font-size: 1.6rem;

    color: var(--color-sidebar-font);
    background-color: var(--color-sidebar-bg);
}

.sidebar-container {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    /* shadow on header does not show on sidebar */
    position: relative;
    z-index: 2;

    padding: 0px 20px;

    color: var(--color-sidebar-font);
    background-color: var(--color-sidebar-bg);
}

.sidebar-section-one {
    margin-top: 15px;

    font-size: 2rem;
    font-weight: bold;
}

.sidebar-section-one a {
    display: flex;
    align-items: center;
    
}

.sidebar-section-one a img {
    flex-basis: 50px;
    height: 40px;
    width: auto;
    filter: invert(100%);
}


.sidebar-section-two li a,
.sidebar-section-three li a {
    display: flex;
    align-items: center;

    padding: 5px 0px;

    font-weight: bold;
}

.sidebar-section-two li a img,
.sidebar-section-three li a img {
    flex-basis: 50px;
    height: 20px;
    width: auto;
    filter: invert(100%); 
}

.main-container {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;

    padding: 20px 20px 40px 20px;
    background-color: var(--color-main-bg);

    & .section-title {
        padding-bottom: 10px;
    }
}

.projects-container {
    grid-row: 1 / 3;
    grid-column: 1 / 2;

    display: flex;
    flex-direction: column;
}

.card-container {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;    
}

.card {
    border-radius: 5px;
    border-left: 5px solid #ffbb00;
    padding: 20px;
    display: flex;
    flex-direction: column;

    font-size: 1.6rem;

    background-color: var(--color-header-bg);

    > p:first-child {
        font-weight: bold;
    }

    > p:last-of-type {
        flex-grow: 1;
        padding-bottom: 2rem;

        color: var(--color-main-second-font);
    }
}

.card-buttons-container {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.card-buttons-container button img {
    width: 20px; 
    height: 20px;
    vertical-align: middle;
}

.announcement-card {
    border-radius: 5px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;

    font-size: 1.4rem;

    background-color: var(--color-header-bg);
}

.announcement-card div {
    > p:first-child {
        font-weight: bold;
    }

    > p:last-of-type {
        color: var(--color-main-second-font)
    }
}

.truncate {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limits to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

hr {
    border: none;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.5);
    margin: 10px 0;
}

.trending-container {
    display: flex;
    flex-direction: column;
}

.trending-card {
    flex-grow: 1;

    border-radius: 5px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;

    font-size: 1.4rem;

    background-color: var(--color-header-bg);

    > div {
        flex-grow: 1;

        display: flex;
        align-items: center;
        gap: 20px;

        padding-bottom: 20px;
    }

    > div:last-of-type {
        padding-bottom: 0px;
    }

    & img {
        height: 50px;
        width: auto;

        vertical-align: middle;
    }

    & p:last-child {
        font-size: 1.2rem;
        color: var(--color-main-second-font);
    }
}

/* Width: Percentage with max width / ch */
/* Height: Min height if needed */
/* Padding/Margin: rem or px */
/* Shadows or borders: px */
/* vw or vh sometimes useful (ex: embedded videos or responsive font size[px + vw]) */
/* If vanilla CSS, check normalize or resets */

/* Group related properties */
/* Layout & Positioning */
/* Box Model */
/* Typography */
/* Visual and Background Styles*/
/* Animation and Interaction */